.about-page {
  margin-top: 89px;
  padding: 5% 10%;

  .content {
    &__image {
      width: 50%;
      display: inline-block;

      img {
        width: 100%;
      }
    }

    &__text {
      width: 50%;
      display: inline-block;
      vertical-align: top;

      p {
        margin: 0 5%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-page {
    .content {
      &__image, &__text {
        width: 100%;
        display: block;
      }
    }
  }
}
