.about-page {
  padding: 3% 20%;
  margin-top: 7vh;
  min-height: 92vh;
  box-sizing: border-box;

  > h1 {
    margin-top: 0;
    margin-bottom: 5%;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    text-align: center
  }

  .content[image-first="false"] {
    flex-direction: row-reverse;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;

    &__image {
      width: 48%;
      display: inline-block;

      img {
        width: 100%;
      }

      span {
        font-style: italic;
      }
    }

    &__text {
      width: 48%;

      h3 {
        margin-top: 0;
      }

      p {
        margin: 0;
        text-align: justify;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-page {
    padding: 3% 5%;

    h1 {
      display: none;
    }

    .content {
      flex-wrap: wrap;
      flex-direction: column-reverse !important;

      &__image, &__text {
        width: 100%;
        display: block;

        p {
          margin: 5% 0;
        }
      }

      h3 {
        margin-top: 5%;
      }
    }
  }
}
