html, body {
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
}

h1, h2, h3, h4, h5, p, li, a {
  font-family: 'Open Sans', sans-serif;
  color: #616161;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.anchor{
  display: block;
  height: 89px; /*same height as header*/
  margin-top: -89px; /*same height as header*/
  visibility: hidden;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 26px;
  }

  p {
    font-size: 16px;
  }
}
