.home {
  margin-top: 89px;

  .parallax {
    height: 100vh;
    background-image: url('../img/cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
  }

  .flex {
    width: 100%;
    display: flex;
  }

  .about, .services-home, .testimonials {
    padding: 5%;

    h1 {
      margin-top: 0;
      color: white;
    }

    p {
      color: white;
      font-weight: bold;
    }
  }

  .about {
    background: #F26B4D;
  }

  .services-home {
    background: #58C3A2;
  }

  .contact {
    .form {
      box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 6px;
      padding: 5%;
      flex: 1;

      button {
        float: right;
      }

      .input {
        width: 100% !important;
      }
    }

    .testimonials {
      flex: 1;
      background: #EC407A;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .flex {
      flex-wrap: wrap;
    }

    .contact {
      .form, .testimonials {
        flex: auto;
      }
    }
  }
}
