.home {
  .parallax {
    margin-top: 89px;
    height: 100vh;
    background-image: url('../img/fennes_wedding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .flex {
    width: 100%;
    display: flex;
  }

  .about, .services {
    padding: 5%;

    h1 {
      margin-top: 0;
      color: white;
    }

    p {
      color: white;
      font-weight: bold;
    }
  }

  .about {
    background: #F26B4D;
  }

  .services {
    background: #58C3A2;
  }

  .contact {
    max-height: 50vh;
    overflow: hidden;

    .form {
      box-shadow: rgba(0, 0, 0, 0.32) 0px 1px 6px;
      padding: 5%;
      width: 50%;
      flex: 1;

      button {
        float: right;
      }

      .input {
        width: 100% !important;
      }
    }

    .img {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .flex {
      flex-wrap: wrap;
    }

    .contact {
      max-height: none;
      overflow: visible;

      .img {
        display: none;
      }
    }
  }
}
