.home {
  .parallax {
    margin-top: 89px;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/fennes_wedding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .content {
    padding: 50px;
  }

  .about {
    display: flex;

    .img {
      max-width: 100%;
      height: auto;
    }

    .text {
      h1 {
        margin-top: 0;
      }
    }

    img {
      max-width: 200px;
    }

    div {
      padding: 10px;
    }
  }
}
