<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Twenty Two Weddings & Events" />
  <meta property="og:description" content="Wedding & Event planning by Lindsay Edgar" />
  <!-- <meta property="og:image" content="https://www.mattviteri.com/img/ogimage.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="668" /> -->
  <!-- <meta property="og:url" content="https://blog.mattviteri.com" /> -->
  <meta name="keywords" content="twenty two weddings, austin, wedding planning, event planning" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
  <title>Twenty Two Weddings & Events</title>
</head>
<body>
  <div id="container"></div>
</body>
</html>
